@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Shadows+Into+Light&family=Stalinist+One&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}
.header{
    height: 10vh;
    width:100%;
    background-color:  whitesmoke;
    display: flex;
    flex-direction:row;

    justify-content: space-between;
    align-items: center;
    color: black;
    position: fixed;
}
 .titles{
     display: flex;
     flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right:20px;
 }

 .title-home , .title-upcoming , .title-popular{
    margin-left: 20px;
    margin-right:20px;  
    font-size: 26px;
    padding: 10px;
    
    
 }

.titles > a {
    color: black;
    
}

.titles > a:link  {
    text-decoration: none;
  }
  
.titles> a:visited {
    text-decoration: none;
  }
  
.titles> a:hover {
      background-color:#4CAF50;
      color: white;
    
  }
  


.logo-text{
    font-family: 'Stalinist One', cursive;
    font-size:40px;
    margin-left: 50px;
    margin-right:20px;
}



/* ----------------------------------------------------------------------------------------------------------search box */
.search-results-txt{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size:30px;
    margin-top:60px;
}

.search-box{

padding-left: 160px;
/* position: relative; */
background-image: url("./assets/angrybird.jpg") ;
background-position: bottom right;
background-repeat: no-repeat;


display:flex;
flex-direction:column;
height:95vh;

}
.above-search-txt{
    margin-top:180px;
    font-size:40px;
    
}

.img-display{
    position: relative;
}

.search-bar{
    
    width: 500px;
    margin-top: 20px;
    margin-bottom:10px;

    border-radius: 30px;
    height:40px;
}

.search-btn{
    height:40px;
    width:100px;
    margin-left: 350px;
    border-radius: 30px;
    text-decoration: none;
}












/* ----------------------------------------------------------------------------------------------------------search box ends */
/* ----------------------------------------------------------------------------------------------------------container */

.search-results{
    justify-content:center;
    align-items:center;
}


.container{
    height: 85vh;
    /* background-color:rgba(7, 7, 7, 0.671); */
    ;
}

.box{
    display: flex;
    flex-direction:row;
    align-items: center;
    height:100%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;



    max-width: 100%;
    
    overflow-x: auto;
    overflow-y: hidden; 
    /* overflow-x: hidden; */
}

.right-arrow , .left-arrow{
    padding: 50px;
    color:white;
}

.right-arrow{
    right: 1;

}
.left-arrow{
    left: 1;
}

/* --------------------------------------------------------------card-container start*/

.card-container{

    display:flex;
    align-items:stretch;
    width: 100%;
    overflow: scroll;
    overflow-y:hidden;
    
}

.movie-overview-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;


    /* display:inline-block;
    line-clamp: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px; */
}

/* --------------------------------------------------------------card-container start*/

/* --------------------------------------------------------------cardholder start*/
.card-holder{
    justify-content:center;
    align-items:center;
    background-color:white;
    padding:10px;
    height: 400px;
    width: 300px;
    
    border:1px solid black;
    border-radius: 0px 0px 10px 0px;

    margin: 20px;
}

.movie-image{
    border:0px;
    padding:0px;
}

.movie-name {
    font-size: 18px;


}
.movie-releaseDate{
    font-size: 12px;
    padding: 2px;

}

.movie-stats{
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    padding: 5px;
    
}

.movie-links{
    
    display:flex;
    justify-content:space-between;
    font-size: 18px;
    padding: 10px;
}

.seprator{
    margin-left: 5px;
    margin-right: 5px;
}


 

 .movie-links > a {
    color: black;
    
}

.movie-links > a:link  {
    text-decoration: none;
  }
  
  .movie-links > a:visited {
    text-decoration: none;
  }
  
  .movie-links > a:hover {
      
      color: #4CAF50;
    
  }
  

/* --------------------------------------------------------------cardholder end */

/* ----------------------------------------------------------------------------------------------------------.footer{
 */
.footer{
position: fixed;
bottom:0;
left:0;

    display: flex;
    align-items: center;
    justify-content:center;
    height: 5vh;
    background-color:whitesmoke;
}

.black-border{
    height: 0.5vh;
    background-color:black;
}
/* ----------------------------------------------------------------------------------------------------------extra Section */


.extra-sections{
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    font-size:30px;
}

/* ----------------------------------------------------------------------------------------------------------extra Section ends */

/* ----------------------------------------------------------------------------------------------------------dropdown */

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 26px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 136px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }